[metadata]
name = "compiler-rt"
version = "21.1.2"
release = 1
description = "compiler-rt runtime libraries"
url = "https://compiler-rt.llvm.org/"
license = "Apache-2.0 (LLVM-exception)"

[dependencies]
linux = "6.16.9"

[sources]
musl = "https://musl.libc.org/releases/musl-1.2.5.tar.gz"
llvm = "https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-21.1.2.tar.gz"

[build]
script = """
cd musl-1.2.5
mkdir -p build && cd build

../configure \
    --prefix=/usr \
    --target=aarch64-dog-linux-musl \
    CROSS_COMPILE= CC=clang

DESTDIR="$buildroot" make install-headers

cd ../..
cd llvm-project-llvmorg-21.1.2

cmake -S compiler-rt -B build -G Ninja \
    -DCMAKE_INSTALL_PREFIX="$pkgroot/usr" \
    -DCMAKE_SYSROOT="$buildroot" \
    -DCMAKE_BUILD_TYPE=Release \
    -DCMAKE_CXX_COMPILER=clang++ \
    -DCMAKE_C_COMPILER=clang \
    -DCMAKE_ASM_COMPILER_TARGET="aarch64-dog-linux-musl" \
    -DCMAKE_CXX_COMPILER_TARGET="aarch64-dog-linux-musl" \
    -DCMAKE_C_COMPILER_TARGET="aarch64-dog-linux-musl" \
    -DCOMPILER_RT_DEFAULT_TARGET_ONLY=ON \
    -DCOMPILER_RT_BUILD_CTX_PROFILE=OFF \
    -DCOMPILER_RT_BUILD_SANITIZERS=OFF \
    -DCOMPILER_RT_BUILD_LIBFUZZER=OFF \
    -DCOMPILER_RT_BUILD_BUILTINS=ON \
    -DCOMPILER_RT_BUILD_MEMPROF=OFF \
    -DCOMPILER_RT_BUILD_PROFILE=OFF \
    -DCOMPILER_RT_BUILD_XRAY=OFF \
    -DCOMPILER_RT_BUILD_ORC=OFF \
    -DCOMPILER_RT_BUILD_CRT=ON \
    -DCMAKE_CXX_FLAGS="-nostdlib" \
    -DCMAKE_C_FLAGS="-nostdlib"

cmake --build build
cmake --install build

mkdir -pv "$pkgroot/usr/lib/clang/lib/aarch64-dog-linux-musl"
cp -v "$pkgroot/usr/lib/linux/libclang_rt.builtins-aarch64.a" \
    "$pkgroot/usr/lib/clang/lib/aarch64-dog-linux-musl/libclang_rt.builtins.a"
cp -v "$pkgroot/usr/lib/linux/clang_rt.crtbegin-aarch64.o" \
    "$pkgroot/usr/lib/clang/lib/aarch64-dog-linux-musl/crtbeginS.o"
cp -v "$pkgroot/usr/lib/linux/clang_rt.crtend-aarch64.o" \
    "$pkgroot/usr/lib/clang/lib/aarch64-dog-linux-musl/crtendS.o"
"""
