[metadata]
name = "dash"
version = "0.5.13"
release = 1
description = "POSIX compliant shell"
url = "http://gondor.apana.org.au/~herbert/dash/"
license = "BSD"

[dependencies]
compiler-rt = "21.1.2"
linux = "6.16.9"
musl = "1.2.5"

[sources]
dash = "http://gondor.apana.org.au/~herbert/dash/files/dash-0.5.13.tar.gz"

[build]
script = """
cd dash-0.5.13

./configure \
    --prefix=/usr \
    --host=aarch64-dog-linux-musl \
    --disable-dependency-tracking \
    CC=clang \
    CFLAGS="-O3" LDFLAGS="-flto"

DESTDIR="$pkgroot" make install

llvm-strip --strip-unneeded "$pkgroot/usr/bin/dash"

ln -sfv dash "$pkgroot/usr/bin/sh"
rm -rfv "$pkgroot/usr/share"
"""
