[metadata]
name = "libcxx"
version = "21.1.2"
release = 1
description = "LLVM c++ standard library"
url = "https://libcxx.llvm.org/"
license = "Apache-2.0 (LLVM-exception)"

[dependencies]
compiler-rt = "21.1.2"
linux = "6.16.9"
musl = "1.2.5"

[sources]
llvm = "https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-21.1.2.tar.gz"

[build]
script = """
cd llvm-project-llvmorg-21.1.2

cmake -S runtimes -B build -G Ninja \
    -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=On \
    -DCMAKE_INSTALL_PREFIX="$pkgroot/usr" \
    -DCMAKE_SYSROOT="$buildroot" \
    -DCMAKE_BUILD_TYPE=Release \
    -DCMAKE_CXX_COMPILER=clang++ \
    -DCMAKE_C_COMPILER=clang \
    -DCMAKE_ASM_COMPILER_TARGET="aarch64-dog-linux-musl" \
    -DCMAKE_CXX_COMPILER_TARGET="aarch64-dog-linux-musl" \
    -DCMAKE_C_COMPILER_TARGET="aarch64-dog-linux-musl" \
    -DLLVM_ENABLE_RUNTIMES="libunwind;libcxxabi;libcxx" \
    -DLIBCXX_INCLUDE_TESTS=Off \
    -DLIBCXX_INCLUDE_BENCHMARKS=Off \
    -DLIBCXX_USE_COMPILER_RT=true \
    -DLIBCXX_HAS_MUSL_LIBC=On \
    -DLIBUNWIND_USE_COMPILER_RT=true \
    -DLIBCXXABI_USE_COMPILER_RT=true \
    -DCMAKE_CXX_FLAGS="-nostdlib $buildroot/usr/lib/linux/libclang_rt.builtins-aarch64.a" \
    -DCMAKE_C_FLAGS="-unwindlib=none"

cmake --build build
cmake --install build

llvm-strip --strip-unneeded \
    "$pkgroot/usr/lib/libunwind.so.1.0" \
    "$pkgroot/usr/lib/libc++abi.so.1.0" \
    "$pkgroot/usr/lib/libc++.so.1.0"

rm -rvf "$pkgroot/usr/share"
"""
