[metadata]
name = "musl"
version = "1.2.5"
release = 1
description = "Implementation of the C standard library"
url = "https://musl.libc.org"
license = "MIT"

[dependencies]
compiler-rt = "21.1.2"
linux = "6.16.9"

[sources]
musl = "https://musl.libc.org/releases/musl-1.2.5.tar.gz"

[build]
script = """
cd musl-1.2.5
mkdir -p build && cd build

../configure \
    --prefix=/usr \
    --target=aarch64-dog-linux-musl \
    --disable-wrapper \
    CROSS_COMPILE= CC=clang \
    CFLAGS="-O3" \
    AR=llvm-ar RANLIB=llvm-ranlib \
    LIBCC="$buildroot/lib/linux/libclang_rt.builtins-aarch64.a"

make

DESTDIR="$pkgroot" make install
"""
