[metadata]
name = "toybox"
version = "0.8.12"
release = 1
description = "collection of standard UNIX command line tools"
url = "https://landley.net/toybox"
license = "BSD"

[dependencies]
compiler-rt = "21.1.2"
openssl = "3.6.0"
linux = "6.16.9"
musl = "1.2.5"
zlib = "1.3.1"

[sources]
toybox = "https://www.landley.net/toybox/downloads/toybox-0.8.12.tar.gz"

[build]
script = """
# FIXME: in addition to these also need: procps-ng, kmod, bzip2, strace (optional), gzip, file, xz, attr, vi, ncurses, shadow

ENABLED_UTILS=('base32' 'base64' 'baseenc' 'basename' 'cat' 'cp' 'chgrp' 'chroot' 'chown' 'chmod' 'cksum' 'comm' 'cut' 'date' 'dd' 'df' 'dirname' 'du' 'echo' 'env' 'expand' 'expr' 'factor' 'false' 'fmt' 'fold' 'groups' 'head' 'hostid' 'id' 'install' 'link' 'logname' 'ln' 'ls' 'md5sum' 'mkdir' 'mkfifo' 'mknod' 'mktemp' 'mv' 'nice' 'nohup' 'nproc' 'nl' 'od' 'paste' 'printenv' 'printf' 'pwd' 'rm' 'rmdir' 'readlink' 'realpath' 'seq' 'sha1sum' 'sha224sum' 'sha256sum' 'sha384sum' 'sha512sum' 'shred' 'sleep' 'sort' 'sort_float' 'split' 'stat' 'stty' 'shuf' 'sync' 'tac' 'tail' 'tee' 'test' 'timeout' 'tr' 'touch' 'tsort' 'true' 'truncate' 'tty' 'uname' 'uniq' 'unlink' 'wc' 'who' 'whoami' 'yes') # coreutils
ENABLED_UTILS+=('bc' 'patch' 'ascii' 'cpio' 'time' 'sed' 'tar') # from respective single binary titled projects
ENABLED_UTILS+=('fgrep' 'egrep' 'grep') # grep
ENABLED_UTILS+=('getconf' 'iconv') # glibc (subset of glibc)
ENABLED_UTILS+=('find' 'xargs') # findutils
ENABLED_UTILS+=('cmp' 'diff') # diffutils (missing diff3, sdiff)

cd toybox-0.8.12

make allnoconfig
echo "CONFIG_TOYBOX_LIBCRYPTO=y" >> .config
echo "CONFIG_TOYBOX_LIBZ=y" >> .config
echo "CONFIG_TOYBOX_FLOAT=y" >> .config
for util in "${ENABLED_UTILS[@]}"; do
    util_upper=$(echo "$util" | tr '[:lower:]' '[:upper:]')
    echo "CONFIG_$util_upper=y" >> .config
done

make \
    CROSS_COMPILE= CC=clang STRIP=llvm-strip \
    CFLAGS="-w" LDFLAGS="-w" \
    LDOPTIMIZE="-flto" OPTIMIZE="-O3"

mkdir -p "$pkgroot/usr/bin"
cp -pv toybox "$pkgroot/usr/bin/"

for util in "${ENABLED_UTILS[@]}"; do
    ln -sfv toybox "$pkgroot/usr/bin/$util"
done

rm -fv "$pkgroot/usr/bin/sort_float"
rm -fv "$pkgroot/usr/bin/baseenc"
"""
