[metadata]
name = "zlib"
version = "1.3.1"
release = 1
description = "Compression library implementing the deflate compression method found in gzip and PKZIP"
url = "https://zlib.net"
license = "Zlib"

[dependencies]
compiler-rt = "21.1.2"
linux = "6.16.9"
musl = "1.2.5"

[sources]
zlib = "https://zlib.net/zlib-1.3.1.tar.xz"

[build]
script = """
cmake -S zlib-1.3.1 -B build -G Ninja \
    -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=On \
    -DCMAKE_INSTALL_PREFIX="$pkgroot/usr" \
    -DCMAKE_SYSROOT="$buildroot" \
    -DCMAKE_BUILD_TYPE=Release \
    -DCMAKE_C_COMPILER=clang \
    -DCMAKE_C_COMPILER_TARGET="aarch64-dog-linux-musl"
cmake --build build
cmake --install build
"""
