[metadata]
name = "llvm"
version = "21.1.2"
release = 1
description = "llvm toolchain"
url = "https://llvm.org/"
license = "Apache-2.0 (LLVM-exception)"

[dependencies]

[sources]
llvm = "https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-21.1.2.tar.gz"

[build]
script = """
cd llvm-project-llvmorg-21.1.2

cmake -S llvm -B build -G Ninja \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_SYSTEM_NAME="Linux" \
	-DCMAKE_INSTALL_PREFIX="$pkgroot" \
	-DLLVM_ENABLE_LTO=Thin \
	-DCMAKE_C_COMPILER=clang \
	-DCMAKE_CXX_COMPILER=clang++ \
	-DLLVM_USE_LINKER=lld \
	-DLLVM_TARGETS_TO_BUILD=AArch64 \
	-DLLVM_BUILD_TOOLS=On \
	-DLLVM_ENABLE_EH=On \
	-DLLVM_ENABLE_RTTI=On \
	-DLLVM_ENABLE_LIBCXX=On \
	-DLLVM_ENABLE_PROJECTS="clang;lld" \
	-DLLVM_ENABLE_RUNTIMES="" \
	-DLLVM_DEFAULT_TARGET_TRIPLE=aarch64-linux-musl \
	-DCLANG_DEFAULT_RTLIB="compiler-rt" \
	-DCLANG_DEFAULT_UNWINDLIB="libunwind" \
	-DCLANG_DEFAULT_CXX_STDLIB="libc++" \
	-DCLANG_DEFAULT_LINKER="lld" \
	-DDEFAULT_SYSROOT="/tmp/dog-buildroot" \
	-DCLANG_RESOURCE_DIR="/tmp/dog-buildroot/usr/lib/clang"

cmake --build build
cmake --install build
"""
