# basic ssh configuration
Port 22
AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts yes
PermitUserEnvironment yes
PermitTunnel yes

# customization
PrintMotd no
Banner none

# configure authentication methods
PasswordAuthentication yes
KbdInteractiveAuthentication no

# allow root login
PermitRootLogin yes
PermitEmptyPasswords yes

# set host keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
